@charset "UTF-8";
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
.preview-card {
  position: relative;
  background: #fff;
  margin: 15px;
  box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
  border-radius: 25px;
  transition: all 0.3s;
  width: 88%;
  margin: 15px auto;
  height: 320px;
}
@media screen and (max-width: 1136px) {
  .preview-card {
    width: 86%;
  }
}
@media screen and (max-width: 1445px) {
  .preview-card {
    width: 85%;
  }
}
@media screen and (max-width: 992px) {
  .preview-card {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .preview-card {
    min-height: 500px;
    height: auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card {
    height: auto;
  }
}
.preview-card__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .preview-card__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .preview-card__item {
    justify-content: center;
  }
}
.preview-card_item.swiper-slide-active .blog-slider_img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > * {
  opacity: 1;
  transform: none;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(8) {
  transition-delay: 1s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.preview-card_item.swiper-slide-active .blog-slider_content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.preview-card__img {
  width: 250px;
  flex-shrink: 0;
  height: 250px;
  box-shadow: 0px 3px 9px 0px rgba(0, 113, 186, 0.62);
  border-radius: 20px;
  transform: translate(65px, -34px);
  overflow: hidden;
}
.preview-card__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.4;
}
.preview-card__img img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .preview-card__img {
    transform: translateY(-50%);
    width: 57%;
    height: 200px;
    margin-top: 114px;
  }
}
@media screen and (max-width: 576px) {
  .preview-card__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card__img {
    height: 270px;
  }
}
.preview-card__content {
  padding-right: 0px;
}
@media screen and (max-width: 768px) {
  .preview-card__content {
    text-align: center;
    padding: 0 30px;
    margin-top: -100px;
  }
}
@media screen and (max-width: 576px) {
  .preview-card__content {
    padding: 0;
  }
}
.preview-card__content > * {
  transform: translateY(25px);
  transition: all 0.4s;
}
.preview-card__code {
  color: #7b7992;
  margin-bottom: 15px;
  margin-top: -25px;
  display: block;
  font-weight: 500;
}
.preview-card__code img {
  width: 30px;
  height: 30px;
}
.preview-card__title {
  font-size: 24px;
  font-weight: 700;
  color: #041858;
  margin-bottom: 20px;
}
.preview-card__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.preview-card__text img {
  width: 30px;
  height: 30px;
}
.preview-card__button {
  display: inline-flex;
  padding: 15px 35px;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: -165px;
  border-radius: 20px;
  background-color: #00A02B !important;
  border: 1px solid #00A02B;
  background-size: 300% 100% ;
  moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.preview-card__button:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, #00a02b, #05be36, #0bc13c, #eeed3f);
  box-shadow: 0 4px 15px 0 rgba(3, 106, 55, 0.75);
  background-position: 100% 0;
  moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 560px) {
  .rate{
    width: 121%;
    padding-right: 23px !important;
  }
}
@media screen and (max-width: 768px) {
  .preview-card__button {
    right: -4px;
    top: -14px;
  }
}
@media (max-width: 992px) {
  .preview-card__button {
    right: -5px;
    top: -22px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .preview-card__button {
    top: -15px;
    right: -1px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .preview-card__button {
    right: 160px;
  }
}
@media (min-width: 1700px) {
  .preview-card__button {
    top: -169px;
    left: 460px;
    width: 100%;
  }
}
@media (min-width: 1193px) {
  .preview-card__button {
    top: -175px;
    left: 215px;
  }
}
@media (min-width: 1199px) {
  .preview-card__button {
    top: -180px;
    right: 280px;
  }
}
.rate {
  display: block;
  height: 35px;
  margin: 0px auto;
  margin-top: -15px;
  text-align: center;
  color: #EEED3F;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  padding-right: 5px;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate:not(:checked) > label:hover {
  color: #deb217;
}
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate > input:checked ~ label:hover {
  color: #c59b08;
}
.rate > input:checked ~ label:hover ~ label {
  color: #c59b08;
}
.rate > input:checked + label:hover {
  color: #c59b08;
}
.rate > input:checked + label:hover ~ label {
  color: #c59b08;
}
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/* My Style */
.MoreInfo{
  cursor: pointer;
  border: 1px solid #041858;
  color: #041858;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.MoreInfo:hover{
  color: white;
  background-color: #041858;
  transform: scale(1.04);
}