.top_to_btm{
    position: relative;
  }
  .icon_position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon_style{
    background-color: #041858;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s linear infinite;
    transition: all .5s linear;
  }
  .icon_style:hover{
    animation: none;
    background: #00A02B;
    color: #fff;
    border: 1px solid #fff;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }