.h1 {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 5rem;
}

.h2 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
}

.h3 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.2rem;
}

.h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
}

.h5 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.h6 {
    font-weight: 700;
    font-size: .95rem;
    line-height: 1.5rem;
}

.p {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.3rem;
}