.equipments__banner {
    margin-top: 70px;
    height: 500px;
    background-image: url(../../assets/images/devices_imgs/fotolia_117124325_x_bearbeitet_sergey-nivens.jpg);
    background-size: cover;
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
    margin-bottom: 50px;
    box-shadow: rgba(0, 50, 93, 0.22) 0px 20px 27px;
}