.receipt{
    width: 70%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    direction: rtl;
    /* align-items: center; */
    margin-top: 150px;
}
.receipt h2,p{
    margin: 0;
}
.receipt p{
    font-size: 22px;
    color: #041858;
    font-weight: 700;
}
.receipt h2{
    color: #00A02B;
    font-size: 21px;
    margin-bottom: 60px;
}
.columnProduct p{
    font-size: 22px;
} 
.checkout img{
    width: 120px; 
    height: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.checkoutImg{
    width: 25%;
    /* height: 40%; */
}
.bought_items{
    font-size: 22px;
    color: #041858;
    font-weight: 700;
}
.description{
    color: #00A02B;
}
.bought_items p{
    font-size: 22px;
    background: #00A02B;
}
.checkout{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between !important;
}
.columnItems{
    display: flex;
    justify-content: space-between;
}
.columnItems::after{
    content: "";
    display: block;
    border: 1px solid #00A02B;
}
.columnItems p::after{
    content: "";
    display: block;
    border: 1px solid #00A02B;
    margin-top: 5px;
    width: 50%;
    margin-bottom: 10px;
}
.checkout h3{
    color: #041858;
    font-size: 18px;
}
.checkout p{
    color: #00A02B;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}
.ItemNameAndDesc{
    width: 50%;
}
.ItemQuantity{
    width: 30%;
}
.ItemPrice{
    width: 30%;
}
.ItemTotalPrice{
    width: 30%;
}
.columnProductTitle {
    font-size: 22px;
    color: #041858;
}
.columnProductTitle::after{
    content: "";
    display: block;
    border: 1px solid #00A02B;
    margin-top: 5px;
    width: 8%;
}
.KeepGoingAndPay button{
    color: white;
    background-color: #00A02B;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1.125rem;
    color: #fff;
    background-color: #00A02B;
    border-radius: 0.25rem;
    background-size: 100% 100% ;
    transition: all 0.3s ease-in-out;
}
.KeepGoingAndPay button:hover{
    background-image: linear-gradient(to right, #00a02b, #05be36, #0bc13c, #eeed3f);
    box-shadow: 0 4px 15px 0 rgba(3, 106, 55, 0.75);
    background-position: 100% 0;
}
.KeepGoingAndPay{
    color: #041858;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.KeepGoingAndPay::after{
    content: "";
    display: block;
    border: 1px solid #00A02B;
    margin-top: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.KeepGoingAndPay i{
    font-size: 20px;
    margin-right: 8px;

}
.KeepGoingAndPay:hover{
    margin-top: 2px;
}
.KeepGoingAndPay:hover::after{
    margin-top: 12px;
}
.my_ok_button_class{
    display: none !important;
}