.imageBody {
  background-image: url(../../assets/images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvay0xNjAtcnVuZy04MTAzLmpwZw.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* align items center vertically and horizontally  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 110vh; */
  margin: 0px auto;
  padding-top: 80px;
}

.form {
  border-radius: 20px;
  width: 70%;
  height: fit-content;
  margin: 50px auto;
  background-color: rgba(41, 39, 39, 0.3);
  box-shadow: 0 5px 30px black;
  backdrop-filter: blur(5px);
  direction: rtl;
}
.formGroup {
  display: flex;
  justify-content: center;
}

.formGroup input {
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
}

.formGroup select {
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.formGroup textarea {
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  /* margin-bottom: 20px; */
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.option {
  outline: none;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 17px;
  font-weight: bold;
  background-color: rgba(41, 39, 39, 0.9);
  color: white;
}

.input:focus {
  outline: none !important;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.imageBody::placeholder {
  color: white;
}

.checkBox {
  display: flex;
  justify-content: center;
  margin: 16px !important;
}

#checkbox {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.text {
  color: rgb(199, 197, 197);
  font-size: 13px;
}

.btn2 {
  margin: 20px 0px !important;
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #00A02B !important;
  border: none !important;
  background-size: 200% 100% ;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  background-image: linear-gradient(to right, #00a02b, #05be36, #0bc13c, #eeed3f);
  box-shadow: 0 4px 15px 0 rgba(3, 106, 55, 0.75);
  background-position: 100% 0;
}
.signup {
  font-weight: 600;
  color: white;
  width: 100%;
  margin: 0% auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* padding: 3px; */
  /* margin: 30px 0px 40px 30px; */
  border-style: none;
  background-color: transparent;
  font-size: 18px;
}

.sign {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 28px;
}

.inputImage {
  padding-top: 20px;
  margin-right: 70px;
}

.inputFile {
  display: none;
}

.custom_file_upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  font-size: 18px;
  font-weight: 600;
}
.checkbox_wrapper_5 .check {
  --size: 30px;

  position: relative;
  background: linear-gradient(90deg, rgb(10, 136, 43), #d6ec10);
  line-height: 0;
  perspective: 300px;
  font-size: var(--size);
}

.checkbox_wrapper_5 .check .inputcheckbox,
.checkbox_wrapper_5 .check .labelcheckbox,
.checkbox_wrapper_5 .check .labelcheckbox::before,
.checkbox_wrapper_5 .check .labelcheckbox::after,
.checkbox_wrapper_5 .check {
  appearance: none;
  display: inline-block;
  border-radius: var(--size);
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox_wrapper_5 .check .labelcheckbox {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #d7d7d7;
  overflow: hidden;
}

.checkbox_wrapper_5 .check .inputcheckbox[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}

.checkbox_wrapper_5 .check .inputcheckbox[type="checkbox"]:checked {
  left: calc(1.3 * var(--size));
}

.checkbox_wrapper_5 .check .inputcheckbox[type="checkbox"]:checked + label {
  background: transparent;
}

.checkbox_wrapper_5 .check .labelcheckbox::before,
.checkbox_wrapper_5 .check .labelcheckbox::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #9b9b9b;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}

.checkbox_wrapper_5 .check .labelcheckbox::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox_wrapper_5
  .check
  .inputcheckbox[type="checkbox"]:checked
  + .labelcheckbox::before,
.checkbox_wrapper_5
  .check
  .inputcheckbox[type="checkbox"]:checked
  + .labelcheckbox::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}

.checkbox_wrapper_5
  .check
  .inputcheckbox[type="checkbox"]:checked
  + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}

.items {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}
.item_content {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}
.firstinput {
  padding-top: 15px;
}
.validatesmall {
  display: block;
  margin-top: -10px !important;
  padding-right: 90px;
  padding-bottom: 10px;
  color: rgb(255, 1, 1);
  font-size: 15px;
  font-weight: 600;
}
/* elsawy */
.startdate[title]:hover::after {
  content: attr(title);
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 50px;
  color: white;
  background-color: rgb(10, 136, 43);
  position: absolute;
  z-index: 1;
  margin-top: 2px;
}
.enddate[title]:hover:after {
  margin-top: 2px;
  content: attr(title);
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 50px;
  color: white;
  background-color: rgb(10, 136, 43);
  position: absolute;
  z-index: 1;
}
::placeholder{
  color: white !important;
}