
* {
  font-family: 'Cairo', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none !important;
  display: inline-block !important;
}

ul {
  list-style: none !important;
}

img {
  max-width: 100% !important;
  font-size: 0 !important;
}

.row {
  display: flex;
  justify-content: space-between;
}
.active{
  color: #EEED3F !important;  
}

/* Changing Scroll Bar Style */

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #00A02B; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
  /* border: 1px solid #041858; */
}

/* For Mozilla Firefox */
::-moz-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

::-moz-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

::-moz-scrollbar-thumb {
  background-color: #041858; /* Color of the scrollbar thumb */
  border-radius: 8px;
  border: 1px solid #00A02B; /* Rounded corners of the scrollbar thumb */
}


.custom-tour{
  background-color: #041858 !important;
  color: white !important;
  text-align: center !important;
  margin: 0 auto !important;
}
.sc-iGgWBj{
  z-index: 9999 !important;
  background-color: #00A02B !important;
  color: white !important;
}
.reactour__dot--is-active{
  background-color: #00A02B !important;
}
.sc-kAyceB{
  padding-top: 5px !important;
}
.sc-aXZVg svg{
  transition: all 0.3s ease-in-out;
  color: white !important;
}
.sc-aXZVg svg:hover{
  color: #00A02B !important;
}
.sc-aXZVg[aria-label='Close'] svg{
  width: 15px !important;
  transition: all 0.3s ease-in-out;
}
.sc-aXZVg[aria-label='Close'] svg:hover{
  color: red !important;
}
.sc-dcJsrY[role="dialog"]{
  padding-top: 45px !important;
}
.sc-kAyceB[data-tour-elem="navigation"]{
  direction: rtl !important;
}