header{
    text-align: center;
    padding: 35px;
    background-image: url(/public/Healthcare.jpeg);
    width: 100%;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    height: 286px;
      
  }